---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

export interface Props {
  class?: string;
  size?: "sm" | "lg";
  timezone: string | undefined;
  pubDatetime: string | Date;
  modDatetime: string | Date | undefined | null;
  showPub?: boolean;
}

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
  timezone: postTimezone,
  showPub = false,
} = Astro.props;

/* ========== Formatted Datetime ========== */
const isModified = modDatetime && modDatetime > pubDatetime;

const pubDate = dayjs(pubDatetime)
  .tz(postTimezone || SITE.timezone)
  .format("YYYY-MM-DD"); // e.g., '22 Mar, 2025'

const modDate = modDatetime && modDatetime > pubDatetime
    ? dayjs(modDatetime)
        .tz(postTimezone || SITE.timezone)
        .format("YYYY-MM-DD")
    : pubDate;

---

<div class:list={["flex items-center gap-x-2 opacity-60 overflow-hidden whitespace-nowrap", className]}>
  <time
    class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    datetime={dayjs(modDatetime).toISOString()}>{modDate}
  </time>
  {
    showPub && isModified && (
      <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
        | 发布于 {pubDate} 
      </span>
    )
  }
</div>
